/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #EC715F;
  text-align: center;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.logo {
  height: 70px;
  text-align: left;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  font-size: 16px;
  list-style: none;
  display: inline-block;
  padding: 0 30px;
}

.nav-list a {
  text-decoration: none;
  color: #FAFAFA;
}

#main-visual {
  width: 100%;
  height: 650px;
  background-image:url('img/mv.png');
  background-size: cover;
  background-position: center;
}

.main-visual-title {
  font-size: 64px;
  color: #FAFAFA;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 10px;
}

.main-visual-content {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center
}

#portfolio {
  background-color: #ECEFF1;
  padding-bottom: 90px;
}

.portfolio-container {
  width: 920px;
  margin: 0 auto;
}

.title {
  position: relative;
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-top: 90px;
}

.title::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;/*線の上下位置*/
  display: inline-block;
  width: 70px;/*線の長さ*/
  height: 3px;/*線の太さ*/
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);/*位置調整*/
  background-color: #EC715F;/*線の色*/
  border-radius: 0px;/*線の丸み*/
}

.contents {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.portfolio-item-box {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item:nth-child(1){
  background-image:url('img/sketch.jpg');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right:10px;
  margin-bottom: 10px;
}

.portfolio-item:nth-child(2){
  background-image:url('img/websuku.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right:10px;
  margin-bottom: 10px;
}

.portfolio-item:nth-child(3){
  background-image:url('img/write.jpg');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}

.portfolio-item:nth-child(4){
  background-image:url('img/webcamp.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right:10px;
}

.portfolio-item:nth-child(5){
  background-image:url('img/talk.jpg');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin-right:10px;
}

.portfolio-item:nth-child(6){
  background-image:url('img/webcamp-mother.png');
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
}

#feature {
  padding-bottom: 90px;
}

.feature-container {
  width: 980px;
  margin: 0 auto;
}

.feature-item-box {
  display: flex;
}

.feature-item {
  width:320px;
  text-align: center;
  margin-right: 10px;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-detail-title {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
}

.feature-detail-contents {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

#profile {
  background-color: #ECEFF1;
  padding-bottom: 90px;
}

.profile-container {
  width: 1024px;
  margin: 0 auto;
}

.profile-box {
  display: flex;
}

.profile-left {
  width: 512px;
}

.profile-icon {
  background-image: url('img/my-icon.jpg');
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.profile-right {
  width: 512px;
}

.profile-detail-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-detail-contents {
  font-size: 16px;
  color: #000000;
  overflow-wrap: break-word;
  margin-bottom: 20px;
}

#contact {
  padding-bottom: 90px;
}

.contact-container {
  width: 800px;
  margin: 0 auto;
}

.contact-box {
  display: flex;
}

.contact-left {
  width: 400px;
}

.contact-item-left {
  width: 130px;
  margin: 0 auto;
}

.contact-detail-title {
  font-size: 20px;
  margin-bottom: 5px;

}

.contact-right {
  width: 400px;
  margin: 0 auto;
}

.sns-icon {
  margin-right: 20px;
}

.sns-icon:last-child {
  margin-right: 0;
}

.contact-item-right {
  width: 190px;
  margin: 0 auto;
}

footer {
  height: 60px;
  background-color: #EC715F;
}

.footer-content {
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
  line-height: 60px;
}



/*レスポンシブ対応用CSS*/
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width: 768px) {

  .container {
    width: 90%;
  }

  .nav-list {
    width: 90%;
  }

  #main-visual {
    background-image:url('img/code.png');
  }

  .portfolio-container {
    width: 90%;
  }

  .portfolio-item-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .portfolio-item:nth-child(1){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(2){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(3){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(4){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(5){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(6){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .feature-container {
    width: 90%;
  }

  .feature-item-box {
    display: block;
  }

  .feature-item {
    margin: 0 auto;
  }
  
  .feature-item:nth-child(2) {
    margin-top: 10px;
  }
  
  .feature-item:last-child {
    margin: 0 auto;
    margin-top: 10px;
  }
  
  .profile-container {
    width: 90%;
  }

  .profile-box {
    display: block;
  }

  .profile-left {
    width: 90%;
    margin: 0 auto;
  }

  .profile-right {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }

  .contact-container {
    width: 90%;
  }

  .contact-box {
    display: block;
  }

  .contact-left {
    width: 90%;
    margin: 0 auto;
  }

  .contact-item-left {
    width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .contact-right {
    width: 90%;
    margin: 0 auto;
  }

  .contact-item-right {
    width: 90%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}


/* スマートフォンサイズ（425px）以下の際に適用される設定 */
@media screen and (max-width: 425px) {
  .container {
  width: 90%;
  }

  .nav-list {
    width: 90%;
  }

  #main-visual {
    background-image:url('img/code.png');
  }

  .portfolio-container {
    width: 90%;
  }

  .portfolio-item-box {
    display: block;
    justify-content: center;
  }

  .portfolio-item:nth-child(1){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(2){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(3){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(4){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(5){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .portfolio-item:nth-child(6){
    width: 90%;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .feature-container {
    width: 90%;
  }

  .feature-item-box {
    display: block;
  }

  .feature-item {
    width:90%;
  }

  .profile-container {
    width: 90%;
  }

  .profile-box {
    display: block;
  }

  .profile-left {
    width: 90%;
  }

  .profile-icon {
    width: 90%;
  }

  .profile-right {
    width: 90%;
  }

  .contact-container {
    width: 90%;
  }

  .contact-box {
    display: block;
  }

  .contact-left {
    width: 90%;
  }

  .contact-item-left {
    width: 90%;
  }

  .contact-right {
    width: 90%;
  }

  .contact-item-right {
    width: 90%;
  }
}
